*{
    font-family: "Rimouski";
}
.clear{
    background-image: url('images/clair.jpg');
}
.clouds{
    background-image: url('images/cloud.jpg');
}
.rain{
    background-image: url('images/rain.jpg');
}
.snow{
    background-image: url('images/snow.jpg');
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
}

/*#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 80%;
    background: rgba(255,255,255,0.2); 
}*/

h1{
    font-size: 3em;
    position: relative;
}
i.wi{
    font-size: 5em;
    line-height: 3em;
}

h2{
    font-size: 2em;
   
}

.tooltip{
   opacity: 0;
   position: absolute;
   font-size: 12px;
   top: 0px;
   left: 15px;
   color: #fff;
   background-color: #222;
   border-radius: 5px;
   padding: 10px;
   transition: opacity .3s,top .5s ;
}

h1:hover .tooltip{
    top: -50px;
    opacity: 1;
}





